.App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: block;
}

.container input,
button {
    display: block;
    margin-top: 10px;
}

button {
    float: right;
}